@import url('https://cdn.jsdelivr.net/npm/picnic');
@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');

.nav-body {
  overflow: hidden;
  height: 50px;
}

.main-body {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.brand {
  cursor: pointer;
}

.leaflet-container {
  width: 100%;
  height: 600px;
}

.footnote {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
